<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Proyecto_Final.Properties.Settings.CentroEducativoConnectionString"
            connectionString="Data Source=CentroEducativo.mssql.somee.com;Initial Catalog=CentroEducativo;Persist Security Info=True;User ID=JulioTM_SQLLogin_1;Password=58k6vflf41"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>